body {
    background-color: #500000;
    color: rgb(62, 60, 60);
    min-width: 600px !important;
}

h1 {
    font: 400 3.938em/1.38 Copperplate;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 102, 0);
    margin-top: 0px;
}

h2 {
    font: 400 2.938em/1.38 Copperplate;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#status {
    font: 400 1.538em/1.38 Copperplate;
    font-style: normal;
    /*font-weight: bold;*/
    text-decoration: none;
    color: rgb(255, 255, 255);
}

*{-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  â€”transition: all 0.2s ease;
}
.jqplot-data-label, .jqplot-title {
    color:white;
    font-size: 1.5em;
}
.jqplot-series-canvas {
     background-color: #500000; 
}
.jsfcrud_list_form {
/*    align-content: center;*/
    text-align: center;
    padding-top: 20px;
}
table.jqplot-table-legend{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.25em;
}
.text {
    /*font-size: 1em;*/
    /*font-weight: 400;*/
    /*line-height: 1.38;*/
    /*letter-spacing: -2px;*/
    color: rgb(255, 255, 255);
    text-align: center;
}

.text:hover {
    color: #CC6600;
}

.header {
    text-align: right;
}

.logout,
.logout:hover {
    font-size: 2em;
}

a,
a:hover,
a:visited {
    font: 400 3.938em/1.38 Copperplate;
    text-decoration: none;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { /* zoom: 1; */ }



@media  screen and (max-width: 1300px) { 
    /* Styles */
    .text {
        text-align: center;
    }


    @media  screen and (max-width: 1024px) { 
        /* Styles */
        .text {
            text-align: left;

        }




    }
}